node_modules/
dist/

# JavaScript/TypeScript files
*.js
*.ts

# Vue files
*.vue

# Haskell files
*.hs
Main
*.o
*.hi

# Python files
*.py

# Data transfer formats
*.json
!tsconfig.json
!package*.json
*.yaml
!.*haskell*.yaml

# Plain text files
*.txt
